/*THIS CSS FILE IS FOR SMALL DEVICES*/
/* RESPONSIVO: TABLET e MOBILE */

@media screen and (max-width: 768px) {
  /*___________________NAVBAR___________________*/  

   .menuLinks {display: none; background-color: var(--color-04);}
   .menuLinks li a {padding: 1rem 35vw;}
  
    nav.open {
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      z-index: 999;
    }

    nav.open ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 20px 0;
    }
    
  
    #myButton {
      display: block;
      font-size: 2.4rem;
      background: none;
      border: none;
      color: var(--color-04);
      cursor: pointer;
      text-align: right;
    }
  
    #buy_now, #buy_now1 {
      min-width: 180px;
      font-size: 16px;
      animation: pulse 2s infinite;
      background-color: var(--color-01);
      color: var(--color-02);
    }

    #buy_now:hover, #buy_now1:hover {background-color: var(--color-04); color: var(--color-01);}

    @keyframes pulse {
      0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
      }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
      }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      }
    }

  /*___________________BTN SECTION___________________*/  
    .btn-section {
      gap: 160px;
      animation: none;
      background-color: var(--color-05);
    }

    .btn-img {display: none;}
  
  /*___________________SECTION: QUEM SOMOS?___________________*/  
  .sec2_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }

  /*___________________SECTION: EBOOK___________________*/  
  ol, li {
    padding: 6px;
    text-align: justify;
  }

  .sec3_h2 {font-size: 5vh; text-align: center;}


  /*___________________FOOTER___________________*/ 
    footer {
      display: flex;
      flex-direction: column;
      gap: 15px;
      text-align: center;
      align-items: center;
    }
  
    .footer-social {
      gap: 10px;
      padding: 10px 0;
    }
  
    .footer-info, .footer-js {
      align-items: center;
      text-align: center;
    }
  }  

@media screen and (max-width: 1100px) {
  /*___________________SECTION: QUEM SOMOS?___________________*/  
  .sec2_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }
}